// Heading Color
$heading-color: #1a1a1a;

// Text Color
$text-color: #777777;

// Default Background
$bg-default: #ed3974;

// Gray Background
$bg-gray: #f2f4f5;

// Primary Color
$pri-color: #1474c9;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #4c1dcf;

// Footer Color
$foo-color: #111111;

// Secondary Color
$sec-color: #ff9908;