@import 'fonts';
@import 'mixin';
@import 'responsive';
@import 'theme_color';
@import 'variables';

/* Master Stylesheet */

/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/classy-nav.css';
@import 'css/font-awesome.min.css';
@import 'css/themify-icons.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-size: 13px;
    background-color: $bg-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonts;
    color: $heading-color;
    line-height: 1.3;
    font-weight: 500;

}

p {
    font-family: $fonts;
    color: $text-color;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    font-weight: 500;
    font-size: 14px;
    font-family: $fonts;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* :: 3.1.0 Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-50 {
    padding: 50px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.pt-30 {
    padding-top: 30px;
}

/* :: 3.2.0 Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/* :: 3.3.0 Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* :: 3.4.0 Preloader */

.preloader {
    background-color: $hover-color;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    .double-bounce1,
    .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $white-color;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        @include animation(sk-bounce 2.0s infinite ease-in-out);
    }
    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        @include transform(scale(0.0));
    }
    50% {
        @include transform(scale(1.0));
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        @include transform(scale(0.0));
    }
    50% {
        @include transform(scale(1.0));
    }
}

/* :: 3.5.0 Miscellaneous */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    background-color: $bg-gray;
    padding: 10px 25px;
    border-left: 4px solid $pri-color;
    h5 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1;
        @media #{$breakpoint-xs} {
            font-size: 16px;
        }
    }
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gray {
    background-color: $bg-gray;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
    &::after {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.bg-fixed {
    background-attachment: fixed !important;
}

input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.box-shadow {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}

/* :: 3.6.0 ScrollUp */

#scrollUp {
    background-color: $dark-color;
    border-radius: 0;
    bottom: 50px;
    color: $white-color;
    font-size: 14px;
    height: 40px;
    line-height: 42px;
    right: 50px;
    text-align: center;
    width: 40px;
    border-radius: 0%;
    @include trans-duration(500ms);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
        background-color: $hover-color;
        color: $white-color;
    }
    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
        line-height: 32px;
        width: 30px;
        height: 30px;
    }
}

/* :: 3.7.0 mag Button */

.mag-btn {
    background-color: $hover-color;
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 160px;
    height: 50px;
    color: $white-color;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    text-transform: capitalize;
    &:hover,
    &:focus {
        font-size: 16px;
        font-weight: 500;
        background-color: $dark-color;
        color: $white-color;
    }
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: relative;
    z-index: 1000;
    width: 100%;
    .mag-main-menu {
        position: relative;
        width: 100%;
        height: 56px;
        @media #{$breakpoint-xs} {
            height: 60px;
        }
        .classy-navbar {
            padding: 0;
            padding-left: 30px;
            @media #{$breakpoint-xs} {
                padding-left: 15px;
                height: 60px;
            }
            .classynav ul {
                li {
                    a {
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 12px;
                        letter-spacing: 1px;
                        @media #{$breakpoint-lg} {
                            padding: 0 5px;
                        }
                        &:hover,
                        &:focus {
                            color: $hover-color;
                        }
                    }
                    ul li a {
                        text-transform: capitalize;
                        letter-spacing: 0;
                        padding: 0 20px;
                    }
                }
            }
            .nav-brand {
                @media #{$breakpoint-xs} {
                    margin-right: 15px;
                    max-width: 60px;
                }
            }
        }
        .top-search-area {
            position: relative;
            z-index: 1;
            margin-left: 30px;
            @media #{$breakpoint-lg} {
                margin-left: 15px;
            }
            @media #{$breakpoint-md} {
                margin-left: 15px;
            }
            @media #{$breakpoint-xs} {
                margin-left: 15px;
            }
            form {
                position: relative;
                z-index: 1;
                border-left: 1px solid $border-color;
                input {
                    @include trans-duration(500ms);
                    width: 270px;
                    height: 50px;
                    border: none;
                    color: $text-color;
                    font-size: 14px;
                    font-style: italic;
                    padding: 0 30px;
                    @media #{$breakpoint-lg} {
                        padding: 0 15px;
                        width: 200px;
                        font-size: 12px;
                    }
                    @media #{$breakpoint-md} {
                        width: 230px;
                        font-size: 12px;
                    }
                    @media #{$breakpoint-xs} {
                        padding: 0 15px;
                        width: 110px;
                        font-size: 11px;
                        height: 60px;
                    }
                    @media #{$breakpoint-xs-landscape} {
                        width: 180px;
                    }
                    @media #{$breakpoint-sm} {
                        width: 200px;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
                button {
                    position: absolute;
                    width: auto;
                    height: 50px;
                    background-color: transparent;
                    top: 50%;
                    right: 30px;
                    font-size: 16px;
                    z-index: 99;
                    border: none;
                    cursor: pointer;
                    color: $heading-color;
                    @include transform(translateY(-50%));
                    @media #{$breakpoint-lg} {
                        right: 0;
                    }
                    @media #{$breakpoint-md} {
                        right: 15px;
                    }
                    @media #{$breakpoint-xs} {
                        right: 0;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
        .login-btn {
            position: relative;
            z-index: 1;
            padding: 0 30px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            border-left: 1px solid $border-color;
            text-align: center;
            @media #{$breakpoint-lg} {
                padding: 0 25px;
            }
            @media #{$breakpoint-md} {
                padding: 0 25px;
            }
            @media #{$breakpoint-xs} {
                padding: 0 15px;
                height: 60px;
                line-height: 60px;
            }
            @media #{$breakpoint-xs-landscape} {
                padding: 0 20px;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        .submit-video {
            position: relative;
            z-index: 1;
            padding: 0 20px;
            height: 56px;
            background-color: $pri-color;
            line-height: 50px;
            font-size: 13px;
            font-weight: 500;
            color: $white-color;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 150px;
            text-align: center;
            @media #{$breakpoint-lg} {
                padding: 0 10px;
                width: 130px;
                font-size: 12px;
            }
            @media #{$breakpoint-md} {
                padding: 0 10px;
                width: 130px;
                font-size: 12px;
            }
            @media #{$breakpoint-xs} {
                padding: 0 15px;
                width: 40px;
                height: 60px;
                line-height: 60px;
            }
            @media #{$breakpoint-xs-landscape} {
                padding: 0 20px;
                width: 50px;
            }
            &:hover,
            &:focus {
                background-color: $sec-color;
            }
            span {
                display: none;
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                    display: block;
                }
            }
            .video-text {
                display: block;
                @media #{$breakpoint-xs} {
                    display: none;
                }
            }
        }
    }
    .is-sticky {
        .mag-main-menu {
            z-index: 9999;
            box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
        }
    }
    .navbar-brand {
        font-size: 2rem;
    }
}

.breakpoint-on .classynav {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* :: 5.0 Hero Area CSS */

.hero-blog-post {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 720px;
    @media #{$breakpoint-1200-1499} {
        height: 650px;
    }
    @media #{$breakpoint-lg} {
        height: 550px;
    }
    @media #{$breakpoint-md} {
        height: 500px;
    }
    @media #{$breakpoint-xs} {
        height: 350px;
    }
    @media #{$breakpoint-sm} {
        height: 400px;
    }
    .post-content {
        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 20px;
            a {
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $pri-color;
                &:last-child {
                    margin-left: 20px;
                    &::after {
                        content: '/';
                        position: absolute;
                        top: 0;
                        left: -15px;
                        z-index: 1;
                    }
                }
                &:hover,
                &:focus {
                    color: $white-color;
                }
            }
        }
        .post-title {
            font-size: 45px;
            color: $white-color;
            font-weight: 400;
            display: block;
            margin-bottom: 20px;
            @media #{$breakpoint-lg} {
                font-size: 36px;
            }
            @media #{$breakpoint-md} {
                font-size: 30px;
            }
            @media #{$breakpoint-xs} {
                font-size: 20px;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        .video-play {
            width: 60px;
            height: 60px;
            background-color: rgba(26, 26, 26, 0.5);
            border-radius: 50%;
            display: inline-block;
            color: $white-color;
            font-size: 18px;
            text-align: center;
            line-height: 60px;
            &:hover,
            &:focus {
                background-color: $pri-color;
            }
        }
    }
}

.hero-area {
    position: relative;
    z-index: 1;
    .owl-prev,
    .owl-next {
        position: absolute;
        background-color: rgba(235, 235, 235, 0.2);
        width: 50px;
        height: 50px;
        color: $white-color;
        font-size: 20px;
        text-align: center;
        line-height: 54px;
        top: 50%;
        left: 3%;
        margin-top: -25px;
        @include trans-duration(500ms);
        @media #{$breakpoint-xs} {
            width: 40px;
            height: 40px;
            font-size: 18px;
            line-height: 44px;
            margin-top: -20px;
        }
        &:hover,
        &:focus {
            background-color: $pri-color;
        }
    }
    .owl-next {
        left: auto;
        right: 3%;
    }
}

.pagination {
    .page-item {
        .page-link {
            background-color: #e1e1e1;
            min-width: 44px;
            height: 44px;
            line-height: 44px;
            font-size: 16px;
            color: $heading-color;
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            border-radius: 3px;
            padding: 0 15px;
            margin-right: 5px;
            border: 1px solid $border-color;
            &:hover,
            &:focus {
                background-color: $hover-color;
                color: $white-color;
                border-color: $hover-color;
            }
        }
        &.active {
            .page-link {
                background-color: $hover-color;
                color: $white-color;
                border-color: $hover-color;
            }
        }
    }
}

/* :: 6.0 Post Area CSS */

.mag-posts-area {
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.post-sidebar-area {
    z-index: 1;
    background-color: $white-color;
}

.mag-posts-content {
    z-index: 1;
    background-color: $white-color;
    @include flex(0 0 calc(100% - 300px));
    margin-left: 0;
    margin-right: 0;
}

.post-sidebar-area.left-sidebar {
    @media #{$breakpoint-lg} {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    @media #{$breakpoint-md} {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    @media #{$breakpoint-xs} {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
}

// .post-sidebar-area.right-sidebar {
// }

.single-blog-post {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    .post-thumbnail {
        position: relative;
        z-index: 1;
        @include flex(0 0 70px);
        max-width: 70px;
        width: 70px;
        img {
            width: 100%;
        }
    }
    .post-content {
        padding-left: 15px;
        margin-top: -5px;
        .post-title {
            font-size: 16px;
            margin-bottom: 8px;
            display: block;
            @media #{$breakpoint-xs} {
                font-size: 14px;
            }
            @media #{$breakpoint-xs-landscape} {
                font-size: 16px;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        .post-meta {
            a {
                font-size: 14px;
                color: $text-color;
                @media #{$breakpoint-xs} {
                    font-size: 13px;
                }
                @media #{$breakpoint-xs-landscape} {
                    font-size: 14px;
                }
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
    &.style-2 {
        border-bottom-color: #3d3d3d;
        &:last-child {
            border-bottom: none;
        }
        .post-content {
            .post-title {
                color: $white-color;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
    &.style-3 {
        padding-bottom: 0;
        border-bottom: none;
        .post-thumbnail {
            @include flex(0 0 120px);
            max-width: 120px;
            width: 120px;
            @media #{$breakpoint-1200-1499} {
                @include flex(0 0 50px);
                max-width: 50px;
                width: 50px;
            }
            @media #{$breakpoint-lg} {
                @include flex(0 0 100);
                max-width: 100;
                width: 100;
            }
            @media #{$breakpoint-xs} {
                @include flex(0 0 60px);
                max-width: 60px;
                width: 60px;
            }
            @media #{$breakpoint-xs-landscape} {
                @include flex(0 0 80px);
                max-width: 80px;
                width: 80px;
            }
        }
        .post-content {
            padding-left: 15px;
            @media #{$breakpoint-1200-1499} {
                padding-left: 10px;
            }
            .post-title {
                font-size: 18px;
                margin-bottom: 15px;
                @media #{$breakpoint-1200-1499} {
                    font-size: 14px;
                }
                @media #{$breakpoint-lg} {
                    font-size: 18px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
                @media #{$breakpoint-xs-landscape} {
                    font-size: 16px;
                }
            }
            .post-meta {
                a {
                    font-size: 14px;
                    color: $text-color;
                    margin-right: 20px;
                    @media #{$breakpoint-1200-1499} {
                        margin-right: 10px;
                        font-size: 11px;
                    }
                    @media #{$breakpoint-lg} {
                        font-size: 12px;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 12px;
                        margin-right: 10px;
                    }
                    @media #{$breakpoint-xs-landscape} {
                        font-size: 14px;
                        margin-right: 15px;
                    }
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
        }
    }
    &.style-4 {
        .post-thumbnail {
            position: relative;
            z-index: 1;
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            margin-bottom: 15px;
            .video-play {
                width: 50px;
                height: 50px;
                background-color: rgba(26, 26, 26, 0.7);
                border-radius: 50%;
                color: $white-color;
                font-size: 18px;
                text-align: center;
                line-height: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -25px;
                margin-left: -25px;
                z-index: 99;
                &:hover,
                &:focus {
                    background-color: $pri-color;
                }
            }
            .video-duration {
                background-color: #252324;
                font-size: 13px;
                color: $white-color;
                line-height: 1;
                text-align: center;
                padding: 10px 15px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 99;
                font-weight: 500;
            }
        }
        .post-content {
            padding-left: 0;
            .post-title {
                font-size: 22px;
                margin-bottom: 10px;
                @media #{$breakpoint-1200-1499} {
                    font-size: 18px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 16px;
                }
                @media #{$breakpoint-xs-landscape} {
                    font-size: 18px;
                }
            }
            .post-meta {
                a {
                    font-size: 14px;
                    color: $text-color;
                    margin-right: 20px;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
        }
    }
}

.add-img {
    width: 100%;
    img {
        width: 100%;
    }
}

.social-followers-info {
    position: relative;
    z-index: 1;
    a {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 18px;
        color: $white-color;
        background-color: $pri-color;
        margin-bottom: 10px;
        padding: 0 30px;
        font-weight: 600;
        line-height: 50px;
        &:last-child {
            margin-bottom: 0;
        }
        @media #{$breakpoint-xs} {
            font-size: 16px;
            padding: 0 20px;
        }
        i {
            margin-right: 10px;
        }
        span {
            font-size: 14px;
        }
        &.facebook-fans {
            background-color: #4b6cd0;
            &:hover {
                background-color: rgba(75, 108, 208, 0.8);
            }
        }
        &.twitter-followers {
            background-color: #49a7f3;
            &:hover {
                background-color: rgba(73, 167, 243, 0.8);
            }
        }
        &.youtube-subscribers {
            background-color: #db5c3a;
            &:hover {
                background-color: rgba(219, 92, 58, 0.8);
            }
        }
        &.google-followers {
            background-color: #de3939;
            &:hover {
                background-color: rgba(222, 57, 57, 0.8);
            }
        }
    }
}

.catagory-widgets {
    position: relative;
    z-index: 1;
    li {
        a {
            @include display-flex(flex);
            @include justify-content-between;
            margin-bottom: 15px;
            font-size: 16px;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        &:last-child a {
            margin-bottom: 0;
        }
    }
}

.single-youtube-channel {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    .youtube-channel-thumbnail {
        position: relative;
        z-index: 1;
        @include flex(0 0 70px);
        max-width: 70px;
        width: 70px;
    }
    .youtube-channel-content {
        padding-left: 15px;
        margin-top: -5px;
        .channel-title {
            font-size: 16px;
            margin-bottom: 8px;
            display: block;
        }
        .subscribe-btn {
            width: 120px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            background-color: $pri-color;
            color: $white-color;
            padding: 0;
            border-radius: 0;
            font-weight: 500;
            i {
                margin-right: 5px;
            }
            &:hover {
                background-color: $sec-color;
            }
        }
    }
}

.newsletter-form {
    position: relative;
    z-index: 1;
    input {
        width: 100%;
        height: 50px;
        border: none;
        background-color: $bg-gray;
        text-align: center;
        font-size: 14px;
        color: #a6a6a6;
        margin-bottom: 10px;
    }
}

.single-trending-post {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        width: 100%;
        @include trans-duration(600ms);
    }
    .post-content {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 99;
        right: 20px;
        .post-cata {
            display: block;
            margin-bottom: 8px;
            color: $pri-color;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover,
            &:focus {
                color: $white-color;
            }
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
        .post-title {
            font-size: 18px;
            color: $white-color;
            margin-bottom: 0;
            @media #{$breakpoint-1200-1499} {
                font-size: 16px;
            }
            @media #{$breakpoint-xs} {
                font-size: 14px;
            }
            @media #{$breakpoint-xs-landscape} {
                font-size: 18px;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    &:hover {
        img {
            @include transform(scale(1.1));
        }
    }
}

.trending-post-slides,
.featured-video-posts-slide,
.most-viewed-videos-slide,
.sports-videos-slides {
    position: relative;
    z-index: 1;
    .owl-prev,
    .owl-next {
        position: absolute;
        background-color: #e1e1e1;
        width: 40px;
        height: 40px;
        color: #272727;
        font-size: 18px;
        text-align: center;
        line-height: 42px;
        top: -70px;
        right: 41px;
        @include trans-duration(500ms);
        &:hover,
        &:focus {
            background-color: $pri-color;
            color: $white-color;
        }
        @media #{$breakpoint-xs} {
            width: 20px;
            right: 21px;
            height: 36px;
            top: -66px;
        }
    }
    .owl-next {
        right: 0;
    }
}

.featured-video-posts-slide {
    @media #{$breakpoint-md} {
        margin-top: 30px;
    }
    @media #{$breakpoint-xs} {
        margin-top: 30px;
    }
    .owl-prev,
    .owl-next {
        @media #{$breakpoint-md} {
            display: none;
        }
        @media #{$breakpoint-xs} {
            display: none;
        }
    }
}

.single-featured-post {
    position: relative;
    z-index: 1;
    .post-thumbnail {
        position: relative;
        z-index: 1;
        .video-play {
            width: 50px;
            height: 50px;
            background-color: rgba(26, 26, 26, 0.7);
            border-radius: 50%;
            color: $white-color;
            font-size: 18px;
            text-align: center;
            line-height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            z-index: 99;
            &:hover,
            &:focus {
                background-color: $pri-color;
            }
        }
    }
    .post-content {
        position: relative;
        z-index: 1;
        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;
            a {
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $pri-color;
                &:last-child {
                    margin-left: 20px;
                    &::after {
                        content: '/';
                        position: absolute;
                        top: 0;
                        left: -15px;
                        z-index: 1;
                    }
                }
                &:hover,
                &:focus {
                    color: $text-color;
                }
            }
        }
        .post-title {
            font-size: 30px;
            display: block;
            margin-bottom: 15px;
            &:hover,
            &:focus {
                color: $hover-color;
            }
            @media #{$breakpoint-1200-1499} {
                font-size: 20px;
            }
            @media #{$breakpoint-xs} {
                font-size: 18px;
            }
            @media #{$breakpoint-xs-landscape} {
                font-size: 20px;
            }
        }
    }
    .post-share-area {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 40px;
        border: 1px solid $border-color;
        margin-top: 30px;
        overflow: hidden;
        .post-meta {
            a {
                font-size: 14px;
                color: $text-color;
                margin-right: 20px;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
                @media #{$breakpoint-1200-1499} {
                    margin-right: 10px;
                    font-size: 12px;
                }
                @media #{$breakpoint-xs} {
                    margin-right: 8px;
                    font-size: 11px;
                }
                @media #{$breakpoint-xs-landscape} {
                    font-size: 13px;
                    margin-right: 12px;
                }
            }
        }
        .share-info {
            position: relative;
            z-index: 1;
            .sharebtn {
                position: relative;
                z-index: 100;
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: $white-color;
                background-color: $heading-color;
                text-align: center;
                font-size: 16px;
                display: block;
                i {
                    @include trans-duration(800ms);
                }
                &:hover {
                    background-color: $hover-color;
                }
            }
            .all-share-btn {
                position: absolute;
                z-index: 20;
                top: 0;
                right: -200px;
                opacity: 0;
                visibility: hidden;
                @include trans-duration(800ms);
                a {
                    width: 40px;
                    height: 40px;
                    background-color: $pri-color;
                    color: $white-color;
                    line-height: 40px;
                    font-size: 16px;
                    text-align: center;
                    &.facebook {
                        background-color: #4b6cd0;
                    }
                    &.twitter {
                        background-color: #49a7f3;
                    }
                    &.google-plus {
                        background-color: #de3939;
                    }
                    &.instagram {
                        background-color: #bb8950;
                    }
                    &:hover,
                    &:focus {
                        color: $white-color;
                        background-color: $heading-color;
                    }
                }
            }
            &:hover {
                .sharebtn {
                    i {
                        @include transform(rotate(-180deg));
                    }
                }
                .all-share-btn {
                    opacity: 1;
                    visibility: visible;
                    right: 40px;
                }
            }
        }
    }
}

.single-catagory-post {
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $border-color;
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    .post-thumbnail {
        position: relative;
        z-index: 1;
        @include flex(0 0 40%);
        max-width: 40%;
        width: 40%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            height: 180px;
            margin-bottom: 30px;
        }
        @media #{$breakpoint-xs-landscape} {
            height: 260px;
        }
        .video-play {
            width: 50px;
            height: 50px;
            background-color: rgba(26, 26, 26, 0.7);
            border-radius: 50%;
            color: $white-color;
            font-size: 18px;
            text-align: center;
            line-height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            z-index: 99;
            &:hover,
            &:focus {
                background-color: $pri-color;
            }
        }
    }
    .post-content {
        @include flex(0 0 60%);
        max-width: 60%;
        width: 60%;
        position: relative;
        z-index: 1;
        padding-left: 30px;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            padding-left: 0;
        }
        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;
            a {
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $pri-color;
                &:last-child {
                    margin-left: 20px;
                    &::after {
                        content: '/';
                        position: absolute;
                        top: 0;
                        left: -15px;
                        z-index: 1;
                    }
                }
                &:hover,
                &:focus {
                    color: $sec-color;
                }
            }
        }
        .post-title {
            font-size: 22px;
            margin-bottom: 15px;
            display: block;
            &:hover,
            &:focus {
                color: $pri-color;
            }
        }
        p {
            margin-bottom: 0;
        }
        .post-meta-2 {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;
            a {
                font-size: 14px;
                color: $text-color;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
}

.post-details-content {
    position: relative;
    z-index: 1;
    .post-meta {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
        a {
            position: relative;
            z-index: 1;
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $pri-color;
            &:last-child {
                margin-left: 20px;
                &::after {
                    content: '/';
                    position: absolute;
                    top: 0;
                    left: -15px;
                    z-index: 1;
                }
            }
            &:hover,
            &:focus {
                color: $sec-color;
            }
        }
    }
    .post-title {
        font-size: 24px;
        margin-bottom: 15px;
        display: block;
        @media #{$breakpoint-xs} {
            font-size: 20px;
        }
    }
    .post-meta-2 {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
        a {
            font-size: 14px;
            color: $text-color;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    ul {
        position: relative;
        z-index: 1;
        li {
            color: $text-color;
            margin-bottom: 10px;
            i {
                margin-right: 5px;
            }
        }
    }
}

blockquote {
    background-color: $bg-gray;
    padding: 15px 30px;
    border-left: 3px solid $pri-color;
    .quote-text {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        line-height: 2;
        margin-bottom: 15px;
    }
    .quote-name {
        margin-bottom: 0;
    }
}

.like-dislike-share {
    position: relative;
    z-index: 1;
    @include display-flex(flex);
    @include align-items-center;
    a {
        min-width: 180px;
        height: 46px;
        border-radius: 4px;
        background-color: $pri-color;
        font-size: 14px;
        color: $white-color;
        padding: 0 20px;
        text-align: center;
        line-height: 46px;
        font-weight: 400;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        i {
            margin-right: 5px;
        }
        &.facebook {
            background-color: #4b6cd0;
            &:hover {
                background-color: rgba(75, 108, 208, 0.85);
            }
        }
        &.twitter {
            background-color: #49a7f3;
            &:hover {
                background-color: rgba(73, 167, 243, 0.85);
            }
        }
        @media #{$breakpoint-xs} {
            min-width: 50px;
        }
    }
    .share {
        min-width: auto;
        background-color: transparent;
        color: $heading-color;
        font-size: 24px;
        line-height: 1.3;
        text-align: center;
        margin-right: 15px;
        span {
            display: block;
            font-size: 14px;
            color: $text-color;
        }
    }
}

.post-author {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    border-top: 1px solid $border-color;
    .post-author-thumb {
        @include flex(0 0 80px);
        max-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 60px);
            max-width: 60px;
            width: 60px;
            height: 60px;
        }
        img {
            border-radius: 50%;
        }
    }
    .post-author-desc {
        .author-name {
            font-size: 16px;
            display: block;
            margin-bottom: 10px;
            @media #{$breakpoint-xs} {
                font-size: 14px;
            }
        }
        p {
            margin-bottom: 0;
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
    }
}

.related-post-area {
    position: relative;
    z-index: 1;
    .single-blog-post.style-4 .post-content {
        .post-title {
            font-size: 16px;
        }
    }
}

.video-submit-content {
    position: relative;
    z-index: 1;
    label {
        font-size: 12px;
        text-transform: capitalize;
        color: $heading-color;
        font-weight: 500;
    }
}

/* :: 7.0 Footer Area CSS */

.footer-area {
    position: relative;
    z-index: 1;
    background-color: $foo-color;
    padding-top: 80px;
    .footer-widget {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-bottom: 80px;
        .widget-title {
            display: block;
            margin-bottom: 30px;
            font-size: 16px;
            font-weight: 500;
            color: $white-color;
            text-transform: uppercase;
            border-left: 3px solid $pri-color;
            padding-left: 10px;
        }
        .foo-logo {
            display: block;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 30px;
            display: block;
        }
        .footer-social-info {
            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: $pri-color;
                text-align: center;
                font-size: 15px;
                color: $white-color;
                line-height: 40px;
                margin-right: 3px;
                border-radius: 50%;
                &:hover,
                &:focus {
                    background-color: $hover-color;
                }
                &.facebook {
                    background-color: #4b6cd0;
                }
                &.google-plus {
                    background-color: #f03b3b;
                }
                &.instagram {
                    background-color: #bb8950;
                }
                &.twitter {
                    background-color: #49a7f3;
                }
                &.linkedin {
                    background-color: #30bad7;
                }
                @media #{$breakpoint-lg} {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    font-size: 13px;
                }
                @media #{$breakpoint-md} {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    font-size: 13px;
                }
                @media #{$breakpoint-xs} {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    font-size: 13px;
                }
            }
        }
        .footer-widget-nav {
            position: relative;
            z-index: 1;
            ul {
                @include display-flex(flex);
                @include flex-wrap(wrap);
                li {
                    @include flex(0 0 50%);
                    max-width: 50%;
                    width: 50%;
                    a {
                        display: inline-block;
                        color: $white-color;
                        margin-bottom: 15px;
                        i {
                            color: $text-color;
                            margin-right: 5px;
                        }
                        &:hover,
                        &:focus {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
        .footer-tags {
            position: relative;
            z-index: 1;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            margin-top: -5px;
            margin-left: -5px;
            @media #{$breakpoint-lg} {
                margin-top: -2px;
                margin-left: -2px;
            }
            @media #{$breakpoint-sm} {
                margin-top: -2px;
                margin-left: -2px;
            }
            li {
                a {
                    height: 30px;
                    border-radius: 2px;
                    background-color: #272727;
                    color: $text-color;
                    text-transform: uppercase;
                    padding: 0 10px;
                    display: inline-block;
                    line-height: 30px;
                    margin: 5px;
                    font-size: 12px;
                    @media #{$breakpoint-lg} {
                        margin: 2px;
                    }
                    @media #{$breakpoint-sm} {
                        margin: 2px;
                    }
                    &:hover,
                    &:focus {
                        background-color: $pri-color;
                        color: $white-color;
                    }
                }
            }
        }
    }
    .copywrite-area {
        position: relative;
        z-index: 1;
        padding: 10px 0;
        background-color: #0a0a0a;
        .copywrite-text {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 400;
            color: $text-color;
            @media #{$breakpoint-md} {
                font-size: 12px;
            }
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
            a {
                color: $white-color;
                font-size: 14px;
                font-weight: 400;
                @media #{$breakpoint-md} {
                    font-size: 12px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
        .footer-nav {
            position: relative;
            z-index: 1;
            ul {
                @include display-flex(flex);
                @include justify-content-end;
                @include flex-wrap(wrap);
                @media #{$breakpoint-xs} {
                    margin-top: 5px;
                    @include justify-content-start;
                }
                li a {
                    display: inline-block;
                    color: $text-color;
                    font-size: 14px;
                    padding: 0 15px;
                    font-weight: 400;
                    @media #{$breakpoint-md} {
                        font-size: 12px;
                        padding: 0 8px;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 12px;
                        padding: 0 8px;
                    }
                    &:hover,
                    &:focus {
                        font-weight: 400;
                        color: $hover-color;
                    }
                }
                li:last-child {
                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.sidebar-area {
    position: relative;
    z-index: 1;
}

.single-widget-area {
    position: relative;
    z-index: 1;
    form {
        input {
            width: 100%;
            height: 56px;
            background-color: $bg-gray;
            font-size: 12px;
            font-style: italic;
            padding: 0 30px;
            border: none;
            border-radius: 0;
            margin-bottom: 30px;
            &:focus {
                box-shadow: none;
                background-color: $bg-gray;
            }
        }
    }
}

.comment_area {
    border-bottom: 1px solid $border-color;
    padding-bottom: 50px;
    .comment-content {
        .comment-author {
            @include flex(0 0 70px);
            min-width: 70px;
            margin-right: 20px;
            height: 70px;
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
            @media #{$breakpoint-xs} {
                @include flex(0 0 40px);
                min-width: 40px;
                margin-right: 10px;
                height: 40px;
            }
        }
        .comment-meta {
            margin-bottom: 30px;
            .comment-date {
                font-size: 12px;
                color: $text-color;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 10px;
            }
            h6 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 2;
            }
            .like,
            .reply {
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                height: 30px;
                padding: 0 20px;
                border: 2px solid $border-color;
                border-radius: 15px;
                line-height: 26px;
                text-align: center;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
                }
                @media #{$breakpoint-xs} {
                    margin-right: 5px;
                }
            }
        }
    }
    .single_comment_area {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .children {
        .single_comment_area {
            margin-left: 50px;
            margin-top: 30px;
            @media #{$breakpoint-xs} {
                margin-left: 15px;
            }
        }
    }
}

.breadcrumb-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 250px;
    @media #{$breakpoint-xs} {
        height: 130px;
    }
    .breadcrumb-content {
        text-align: center;
        h2 {
            color: $white-color;
            margin-bottom: 0;
            text-transform: uppercase;
            @media #{$breakpoint-xs} {
                font-size: 20px;
            }
        }
    }
}

.mag-breadcrumb {
    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        border-radius: 0;
        .breadcrumb-item a {
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
}

.about-us-content {
    position: relative;
    z-index: 1;
    ul {
        li {
            color: $text-color;
            margin-bottom: 10px;
            i {
                margin-right: 5px;
            }
        }
    }
}

.single-team-member {
    position: relative;
    z-index: 1;
    border: 1px solid $border-color;
    margin-bottom: 30px;
    @media #{$breakpoint-xs} {
        @include flex-wrap(wrap);
    }
    @media #{$breakpoint-xs-landscape} {
        @include flex-wrap(nowrap);
    }
    .team-member-thumbnail {
        position: relative;
        z-index: 1;
        @include flex(0 0 160px);
        max-width: 160px;
        width: 160px;
        @media #{$breakpoint-xs} {
            margin: 15px;
        }
        @media #{$breakpoint-xs-landscape} {
            @include flex(0 0 120px);
            max-width: 120px;
            width: 120px;
        }
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 100;
            content: '';
            opacity: 0;
            visibility: hidden;
            @include trans-duration(500ms);
        }
        img {
            width: 100%;
        }
        .social-btn {
            position: absolute;
            @include display-flex(flex);
            @include justify-content-around;
            width: 80%;
            bottom: 20px;
            left: 10%;
            right: 10%;
            z-index: 300;
            @include trans-duration(500ms);
            opacity: 0;
            visibility: hidden;
            a {
                color: $white-color;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
    .team-member-content {
        padding: 15px 30px;
        @media #{$breakpoint-xs} {
            padding: 15px;
        }
        h6 {
            margin-bottom: 5px;
        }
        span {
            color: $pri-color;
            font-size: 14px;
            display: block;
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 0;
            line-height: 1.7;
            font-weight: 300;
            font-size: 14px;
        }
    }
    &:hover,
    &:focus {
        .team-member-thumbnail {
            &::after {
                opacity: 1;
                visibility: visible;
            }
            .social-btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.single-video-area {
    position: relative;
    z-index: 1;
    iframe {
        border: none!important;
        width: 100% !important;
        height: 540px !important;
        @media #{$breakpoint-md} {
            height: 420px !important;
        }
        @media #{$breakpoint-xs} {
            height: 240px !important;
        }
    }
    .video-meta-data {
        position: relative;
        z-index: 1;
        padding: 15px 30px;
        @media #{$breakpoint-xs} {
            padding: 15px;
        }
        .total-views {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
        .like-dislike {
            button {
                border: none;
                background-color: transparent;
                color: $text-color;
                margin-right: 20px;
                cursor: pointer;
                font-size: 16px;
                text-align: center;
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                    margin-right: 15px;
                }
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
            p {
                text-align: center;
                margin-bottom: 0;
                line-height: 1.5;
                font-size: 16px;
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
            }
        }
    }
}

.video-submit-content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .submit--btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
    }
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

/* :: 8.0 Contact Area CSS */

.single-contact-info {
    position: relative;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    .icon {
        @include flex(0 0 40px);
        max-width: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        border: 1px solid $border-color;
        border-radius: 50%;
        color: $pri-color;
    }
    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    h6 {
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            font-size: 12px;
        }
        @media #{$breakpoint-sm} {
            font-size: 14px;
        }
    }
}

.form-control {
    position: relative;
    z-index: 2;
    height: 48px;
    width: 100%;
    background-color: $white-color;
    font-size: 12px;
    margin-bottom: 15px;
    border: 2px solid $border-color;
    padding: 10px 30px;
    color: $text-color;
    @include trans-duration(500ms);
    &:focus {
        box-shadow: none;
        border-color: $pri-color;
    }
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea.form-control {
    height: 190px;
}

.map-area {
    position: relative;
    z-index: 2;
    iframe {
        width: 100%;
        height: 400px;
        border: none;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            height: 250px;
        }
    }
}

.jumbotron, .jumbotron-fluid {
    .bg-danger {
        background-color: $pri-color;
    }   
}

.pri-text {
    color: $pri-color !important;
}

.pri-bg {
    background: $pri-color !important;
}


.jumbotron {
    color: white;
    background: linear-gradient(to bottom, rgba(23, 162, 184, 0.9), rgba(23, 162, 184, 0.9)), url(/mag/img/bg-img/40.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.jumbotron, .jumbotron-fluid {
    padding-top: 84px;
    padding-bottom: 84px;
}


.perkembangan-jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-title {
    text-overflow: hidden;
}

.feature .single-sidebar-widget {
    transition: all 0.4s ease-out;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, .4);
    background-position: center;
    background-size: cover;
    height: 300px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.feature .single-sidebar-widget:hover {
    transform: scale(1.1);
    font-size: 32px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, .8);
    color: #ed3974;
}

.testimoni-item {
    transition: all 0.4s ease-out;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, .4);
    background-position: center;
    background-size: cover;
    height: 300px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.jumbotron-fluid {
    .testimoni-slider {
        .slick-prev::before, .slick-next::before {
            color: #888 !important;
        }
        
        .slick-prev, .slick-next {
            transform: scale(1.2) !important;
            background-color: #ccc !important;
        }
    }
}

/* ====== The End ====== */