    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="/mag/img/core-img/logo2.png" alt=""></a>
                        <p>KSP CREDIT UNION PANCUR KASIH adalah Koperasi Simpan Pinjam dengan Badan Hukum Nomor 735/BH/X, tanggal 26 Desember 1996.</p>
                        <div class="footer-social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Akses Cepat</h6>
                        <nav class="footer-widget-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Berita</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kantor Cabang</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pinjaman</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Simpanan</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kontak</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="footer-widget">
                        <h6 class="widget-title">Hubungi Kami</h6>
                        <div class="font-weight-bold">Alamat Kantor Pusat:</div>
                        <p>Jalan 28 Oktober Blok A No.1-7, Pontianak 78241.</p>
                        <div class="font-weight-bold">Telepon:</div>
                        <p>(0561)881951.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            <i class="fa fa-heart-o" aria-hidden="true"></i> 
                            by 
                            <a href="https://colorlib.com" target="_blank">Swastisari</a>
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="/kontak.php">Kontak</a></li>
                                <li><a href="/download.php">Download</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>