<header class="header-area">
    <div class="mag-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="magNav">

                <!-- Nav brand -->
                <a href="index.php" class="nav-brand d-md-none">
                    swastisari
                </a>

                <a href="index.php" class="nav-brand d-none d-sm-block">
                        KOPDIT SWASTISARI
                </a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Nav Content -->
                <div class="nav-content d-flex align-items-center">
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="/">Beranda</a></li>
                                <li><a href="#">Tentang Kami</a>
                                    <ul class="dropdown mt-3">
                                        <li><a href="/sejarah.php">Sejarah</a></li>
                                        <li><a href="/visi.php">Visi, Misi, & Nilai Inti</a></li>
                                        <li><a href="/struktur">Data Perkembangan </a>
                                            <ul class="dropdown mt-2">
                                                <li><a href="/anggota.php">Anggota</a></li>
                                                <li><a href="/modal.php">Permodalan</a></li>
                                                <li><a href="/edar.php">Pinjaman Beredar</a></li>
                                                <li><a href="/lpr_keu.php">Laporan Keuangan</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/struktur">Penghargaan & Sertifikasi</a></li>
                                        <li><a href="/struktur.php">Struktur Organisasi</a></li>
                                        <li><a href="/profil.php">Profil</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Produk Layanan</a>
                                    <ul class="dropdown mt-3">
                                        <li><a href="/sy_anggota.php">Syarat Keanggotaan</a></li>
                                        <li><a href="/simpanan">SIMPANAN</a>

                                            <ul class="dropdown mt-2">
                                                <li><a href="/saham.php">SAHAM</a></li>
                                                <li><a href="/sibuhar.php">SIBUHAR</a></li>
                                                <li><a href="/sipandik.php">SIPANDIK</a></li>
                                                <li><a href="/sihara.php">SIHARA</a></li>
                                                <li><a href="/sisuka.php">SISUKA</a></li>
                                                <li><a href="/simapan_bln.php">SIMAPAN BULANAN</a></li>
                                                <li><a href="/simapan_ktr.php">SIMAPAN KONTRAK</a></li>
                                                <li><a href="/simpati.php">SIMPATI</a></li>
                                                <li><a href="/ska.php">SKA</a></li>
                                            </ul>    
                                        </li>
                                        <li><a href="/pinjama">PINJAMAN</a>
                                            <ul class="dropdown mt-2">
                                                <li><a href="/jb-pinjaman.php">Jenis Pinjaman</a></li>
                                                <li><a href="/jb-pinjaman.php">Syarat Pinjaman</a></li>
                                                <li><a href="/simulasi-pinjaman.php">Simulasi Pinjaman</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="/atm.php">ATM</a></li>
                                    </ul>
                                </li>
                                <li><a href="/gallery.php">Gallery</a></li>
                                <li><a href="/cabang.php">Kantor Cabang</a></li>
                                <li><a href="/berita.php">Berita</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <div class="top-meta-data d-flex align-items-center">
                        <!--
                        <div class="top-search-area">
                            <form action="index.html" method="post">
                                <input type="search" name="top-search" id="topSearch" placeholder="Search and hit enter...">
                                <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        -->
                        <a href="submit-video.html" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span> <span class="video-text">Kontak</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>