<script src="/mag/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/mag/js/bootstrap/popper.min.js"></script>
<script src="/mag/js/bootstrap/bootstrap.min.js"></script>
<script src="/mag/js/plugins/plugins.js"></script>
<script src="/mag/js/active.js"></script>